@media all {
body {
	background-image: url(http://cdn.shopify.com/s/files/1/0157/1916/t/4/assets/bg_tile_charcoal.png?2978643362548644382);
	font-size: 16px;
	

}
ul, ol {
	list-style-type: none;
}

p, h1, h2, a {
	color: white;
	font-family: 'Trocchi', sans-serif, arial;
	text-decoration: none;
}
body h1:first-child {
	font-size: 5em;
	text-align: center;
	margin: 30px auto 0 auto;
	width:940px;

}

.mainmenu {
	margin: 20px auto 0 auto;
	position: relative;
	width:840px;
	padding:0 50px 0 50px;
	display: flex;
	
	border-bottom: 5px solid grey;
	
}

.mainmenu> li {
	/*float:left;*/
	padding-left: 30px;
	position: relative;
	flex-grow:1;
	
}

.mainmenu>li:first-child+li+li, .mainmenu>li:first-child+li+li+li {
	background-image: url(http://cdn.shopify.com/s/files/1/0157/1916/t/4/assets/themeicons.png?2978643362548644382);
  	background-position-x: 100%;
  	background-position-y: -314px;
  	background-repeat-x: no-repeat;
  	padding-right: 15px;
}

.mainmenu>li>a {
	text-decoration: none;
	font-size: 0.9em;
	display: block;
	font-family: 'Trocchi', sans-serif, arial;
	padding-bottom: 13px;
	

}
.mainmenu li>ul {
	
	display: block;
	z-index: -1;
	position: absolute;
	margin:0;
	padding:5px 0;
	opacity:0;
	transition-duration:300ms;

}
	
.mainmenu>li>ul>li>a {
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1em 1em 1em 1em;
	position: relative;
	float: left;
	width:130%;
	text-align: center;
	border-bottom: 1px solid #2e2e2e;
	/*box-shadow: 1px 1px 1px 1px #141414;*/
	z-index: 1;
	text-decoration: none;

}

.mainmenu>li:hover>ul {
	z-index: 1;
	opacity:1;


}
.mainmenu>li>ul>li>a:hover {
	color:red;
}
.mainmenu>li>ul>li:last-child>a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

}
/*Slider*/
#my-slideshow {
	width:940px;
	height: 434px;
	margin:0 auto;
	display: block;
	padding:0;
	/*box-shadow: 0 -5px 0 0 grey;*/
	

}
/*Container z trzema img*/
.bottomcontainer {
	width: 940;
	display: block;
	margin:80px auto 0 auto;
	padding:auto;
	

}
.bottomcontainer a {
	text-decoration: none;
	padding-right: 20px;
}
.bottomcontainer ul, .bottomcontainer ol {
	
	display: flex;
	padding: 0;
}
.bottomcontainer ul>li {
	width:313.3;
	font-size: 1.7em;
	border-bottom: 1px solid grey;
	margin-right: 20px;
	padding-bottom: 15px;
}
/*Wyrównanie trzech obrazków*/
.bottomcontainer ul>li:first-child+li, .bottomcontainer ol>li:first-child+li {
	margin-left: 10px;
	margin-right: 10px;
}

.bottomcontainer ul>li:first-child+li+li, .bottomcontainer ol>li:first-child+li+li {
	margin-left: 20px;
	margin-right: 0;
	}
.bottomcontainer ol>li:first-child {
	margin-right: 20px;
}
.bottomcontainer ol>li>a>img{
	width:293.3;
	height: 200;
	
	
}
.bottomcontainer ol {
	padding-top: 7px;
}

.bottomcontainer ol>li>a>img:hover {
	box-shadow: inset 0px 0px 30px 1px #2e2e2e;
}
.newideas {
	width:940px;
	font-size: 1.7em;
	margin:40px auto;
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
	
	
}
.news {
	display: block;
	width:940px;
	margin:0 auto 0 auto;

	
}
.news div img, .news div {
	width:450px;
	display: block;
	float: left;
	height:300px;
	

} 
.news div {
	height:420px;
}
.news div:last-child  {
	float: right;
	border-left: 1px solid grey;
	padding-left: 20px;

}
.news p {
	padding-top: 10px;
	margin-top: 0;
	padding-bottom: 20px;
	clear: both;


}
span.title {
	color: pink;
	line-height: 2.3em;
}
span.price {
	line-height: 2.3em;
	font-style: italic;
	color:lightblue;
}
.crumb {
	float: left;
	margin:0;
	padding:0;
	text-decoration: none;
	font-size: 0.8em;
	color:lightgrey;

	
}
.crumbs {
	width:940px;
	margin:10px auto;
	padding: 0;

}
.gallery {
	width:540px;
	
	/*background-color: red;*/
	display: block;
	margin:40px 0 auto;
	padding:0;
	position: absolute;
}
.gallery>ul {
	display: flex;
}
.gallery>ul>li>img {
	 
	width:100px;
	height: 70px;
	padding: 0 5px 0;
	margin:0;

}

#gallerymain img {
	position: absolute;
	height:300px;
	width:450px;
	margin: 150px -86px 0;
}
.details {
	width:400px;
	float:right;
	/*background-color: blue;*/
	display: inline-block;
	margin:0;
	padding:0;
}
.details h1 {
	font-size: 2.2em !important;
	padding:0;
	width:auto !important;
	text-align: left !important;

}
.details input {
	width:50px;
	height: 40px;
	border-radius: 4px;
}
.details>form>p {
	display: inline-block;
	font-size: 0.9em;
	color:lightblue;
}
.plusiminus {
	font-size: 1.8em;
	padding:0 4px 0 4px;
	color:pink;
}
.addtocart {
	width:100%;
	height:3.3em;
	background-color: pink;
	border:1px solid black;
	border-radius: 3px;
	display: block;
}
.addtocart a {
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	text-align: center;
	padding-top: 3.5%;
	padding-bottom: 4%;
	font-size: 1.1em;
}
.tab-1, .tab-2, .tab-3 {
	display: block;
	width: 70%;
	
	margin-top: 20px;
}
.tab-1 a, .tab-2 a, .tab-3 a {
	width:32%;
	height: 26px;
	padding-top: 10px;
	color:red;
	float:left;
	font-size: 0.8em;
	background-color: #ffffff;
	border-radius: 2px;
	border-right: 1px solid lightgrey;
	text-align: center;
}
	
.tab-3:after {
	content:"";
	height: 26px;
	width:30px;
	padding:5px;
	
}
#tab-1, #tab-2, #tab-3 {
	display: none;
	padding:0;
	margin:40px 0;
	position: absolute;
	width: 400px;
	color: lightgrey;
	font-size: 0.9em;
}
.tab-1:hover a, .tab-2:hover a,.tab-3:hover a  {
	margin-top: -3px;
	padding-top:13px;
}

.tab-1:hover #tab-1, .tab-2:hover #tab-2, .tab-3:hover #tab-3 {
	display: block;
}
 
#tab-1 {

}
.stopka {
	height:400px;
	width:100%;
	background-color: #171717;
	position: absolute;
	margin-top: 500px;
	margin-left: -7px;
	padding: 0;
	text-align: center;

	
}
.stopka p {
	display: block;
	margin:30px auto 20px auto;
	font-size: 1.6em;
}
.table {
	display:table;
	margin:0 auto;
}
.stopka>div> ul {
	display:block;
	list-style: none;
	margin:0 auto;
	padding:0;

	
}
.stopka li img {
	width:110px;
	height:75px;
}
.stopka li {
	margin:0;
	
	display: inline;

}
.stopka>div>ul> li:first-child+li {
	padding-right: 30px;
	padding-left: 30px;

}
.register {
	display: block;
	width:200px;
	height: 2.5em;
	background-color: pink;
	border-radius: 2px;
	margin:0 auto;
}
.register a {
	display: block;
	width: 200px;
	padding-top: 5px;
	height: 1.8em;
	text-decoration: none;
	font-size: 1.2em;

}
.stopka> ul {
	display:block;
	margin: 20px 0;
	padding:0;
	
}
.stopka>ul>li>a {
	
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid pink;
	color:pink;

}
.stopka>ul>li {
	padding:0;

	
}












}  /*zamknięcie @media*/


@media all and (min-width: 800px) and (max-width:980px){
	
	.skala {
transform: scale(0.8, 0.8);

}
body {
margin-left: -100px;
margin-right: -100px;

}
.stopka {
	width:104%;
	margin-left: -17px;
	margin-right: -17px;
	
	
}
}


 

@media (min-width:640px) and (max-width:799px){
	.skala {
	transform: scale(0.6, 0.6);
}

body {
	margin-left: -100px;
	margin-right: -200px;

}


}
/*
@media (max-width:639px){

}