@media all and (min-width:640px) and (max-width:939px){
body {
	background-image: url(http://cdn.shopify.com/s/files/1/0157/1916/t/4/assets/bg_tile_charcoal.png?2978643362548644382);
	font-size: 12px;
	

}

p, h1, h2, a {
	color: white;
	font-family: 'Trocchi', sans-serif, arial;
}
body>h1:first-child {
	font-size: 5em;
	text-align: center;
	margin: 30px auto 0 auto;
	width:640px;

}

.mainmenu {
	margin: 20px auto 0 auto;
	position: relative;
	width:auto;
	padding:0 50px 0 50px;
	display: flex;
	list-style-type: none;
	border-bottom: 5px solid grey;
	
}

.mainmenu> li {
	/*float:left;*/
	padding-left: 30px;
	position: relative;
	flex-grow:1;
	
}

.mainmenu>li:first-child+li+li, .mainmenu>li:first-child+li+li+li {
	background-image: url(http://cdn.shopify.com/s/files/1/0157/1916/t/4/assets/themeicons.png?2978643362548644382);
  	background-position-x: 100%;
  	background-position-y: -314px;
  	background-repeat-x: no-repeat;
  	padding-right: 15px;
}

.mainmenu>li>a {
	text-decoration: none;
	font-size: 0.9em;
	display: block;
	font-family: 'Trocchi', sans-serif, arial;
	padding-bottom: 13px;
	

}
.mainmenu li>ul {
	
	display: block;
	
	list-style-type: none;
	position: absolute;
	margin:0;
	padding:5px 0;
	opacity:0;
	transition-duration:300ms;

}
	
.mainmenu>li>ul>li>a {
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1em 1em 1em 1em;
	position: relative;
	float: left;
	width:130%;
	text-align: center;
	border-bottom: 1px solid #2e2e2e;
	/*box-shadow: 1px 1px 1px 1px #141414;*/
	z-index: 1;
	text-decoration: none;

}

.mainmenu>li:hover>ul {
	z-index: 1;
	opacity: 1;

}
.mainmenu>li>ul>li>a:hover {
	color:red;
}
.mainmenu>li>ul>li:last-child>a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

}
/*Slider*/
#my-slideshow {
	width:auto;
	height: auto;
	margin:0 auto;
	display: block;
	padding:0;

	/*box-shadow: 0 -5px 0 0 grey;*/
	

}
/*Container z trzema img*/
.bottomcontainer {
	width: auto;
	display: block;
	margin:80px auto 0 auto;
	padding:auto;
	

}
.bottomcontainer a {
	text-decoration: none;
	padding-right: 20px;
}
.bottomcontainer ul, .bottomcontainer ol {
	list-style-type: none;
	display: flex;
	padding: 0;

}
.bottomcontainer ul>li {
	width:213;
	font-size: 1.7em;
	border-bottom: 1px solid grey;
	margin-right: 20px;
	padding-bottom: 15px;
}
/*Wyrównanie trzech obrazków*/
.bottomcontainer ul>li:first-child+li, .bottomcontainer ol>li:first-child+li {
	margin-left: 10px;
	margin-right: 10px;
}

.bottomcontainer ul>li:first-child+li+li, .bottomcontainer ol>li:first-child+li+li {
	margin-left: 20px;
	margin-right: 0;
	}
.bottomcontainer ol>li:first-child {
	margin-right: 20px;
}
.bottomcontainer ol>li>a>img{
	width:193.3;
	height: 140;

	
	
}
.bottomcontainer ol {
	padding-top: 7px;
}

.bottomcontainer ol>li>a>img:hover {
	box-shadow: inset 0px 0px 30px 1px #2e2e2e;
}
.newideas {
	
	width:940px;
	font-size: 1.7em;
	margin:40px auto;
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
	transform: scaleX(0.7);
}
.news {
	display: block;
	width:940px;
	margin:0 auto 0 auto;
	transform: scaleX(0.7);
	
}
.news div img, .news div {
	width:450px;
	display: block;
	float: left;
	height:300px;
	transform: scaleX(0.7);

} 
.news div {
	height:420px;
	
}
.news div:last-child  {
	float: left;
	border-left: 1px solid grey;
	padding-left: 20px;


}
.news p {
	padding-top: 10px;
	margin-top: 0;
	padding-bottom: 20px;
	clear: both;


}
span.title {
	color: pink;
	line-height: 2.3em;
}
span.price {
	line-height: 2.3em;
	font-style: italic;
	color:lightblue;
}
.crumb {
	float: left;
	margin:0;
	padding:0;
	text-decoration: none;
	font-size: 0.8em;
	color:lightgrey;

	
}
.crumbs {
	width:940px;
	margin:10px auto;
	padding: 0;

}
.gallery {
	width:540px;
	float:left;
	background-color: red;
	display: block;
	margin:40px auto;
	padding:0;
	position: absolute;
}
.details {
	width:400px;
	float:right;
	background-color: blue;
	display: inline-block;
	margin:0;
	padding:0;
}

}  /*zamknięcie @media*/

.abcd {
	width:100px;
	height:100px;
	background-color: red;
	display: block;

}